.DS_Store
Week8_self_study/.ipynb_checkpoints/Pandas-checkpoint.ipynb
Week8_self_study/.ipynb_checkpoints/Seaborn-checkpoint.ipynb
Week8_self_study/.ipynb_checkpoints/Week8 - exercises-checkpoint.ipynb
Workshop 7/.ipynb_checkpoints/Week 7-checkpoint.ipynb
Workshop 8/.ipynb_checkpoints/Seaborn_cheatsheet-checkpoint.ipynb
Workshop 8/.ipynb_checkpoints/Week 8 - with answers-checkpoint.ipynb
Workshop 8/.ipynb_checkpoints/Week 8-checkpoint.ipynb
Workshop 8/__pycache__/needleman_wunsch.cpython-38.pyc
Workshop 8/__pycache__/nw.cpython-38.pyc
